<h1>
    {{ config.plugins['data-manager'].types[type].list.title ?: type|capitalize|e ~ " " ~ "PLUGIN_DATA_MANAGER.ITEMS_LIST"|e|tu|raw }}
</h1>
<ul class="vd_list">
{% for item in grav.twig.items %}
    <li class="">
        <a href="{{ type }}/{{ item.route }}" class="page-edit">{{ item.name|e }}</a>
       <a href="{{ type }}/vdmpdelete_{{item.route}}" class="button" style="background-color: red; margin-right: 10px;float: right;">Delete</a>
   </li>
{% endfor %}
</ul>
